<DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>로그인</title>
	</head>
	<body>
		<h1>로그인</h1>
		<form method="post" th:action="@{/member/login}" th:object="${loginRequest}" autocomplete="off">
			<dl>
				<dt>아이디</dt>
				<dd>
					<input type="text" name="memId" th:field="*{memId}">
					<div class="errors" th:each="err : ${#fields.errors('memId')}" th:text="${err}"></div>
				</dd>
			</dl>
			<dl>
				<dt>비밀번호</dt>
				<dd>
					<input type="password" name="memPw" th:field="*{memPw}">
					<div class="errors" th:each="err : ${#fields.errors('memPw')}" th:text="${err}"></div>
				</dd>
			</dl>
			<input type="checkbox" name="savedMemId" th:field="*{savedMemId}" id="savedMemId">
			<label for="savedMemId">아이디 저장</label><br>
			<button type="submit">로그인</button>
		</form>
	</body>
</html>